node_modules/
/grafana-9.5.3/data/log
grafana-9.5.3/data/log/grafana.log
/grafana-9.5.3
/nssm-2.24

# Ignore data and files directories by default
InfluxdbDocker/data/
InfluxdbDocker/config/
*.bolt
